@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Quicksand", Helvetica, Arial;
  background-color: #ffffff !important;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* changing default input styles for daisyUI */
.input {
  @apply focus:outline-none;
  @apply focus:ring-0;
}

/* beautifying toastify */
.Toastify__toast--error {
  border-radius: 0.5rem !important;
  background: #fae1e2 !important;
}

.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  /* font-size: 0.75rem; */
  /* font-weight: 600; */
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}

.Toastify__toast--info {
  border-radius: 0.5rem !important;
  background: #f6f6f6 !important;
}

.Toastify__toast--info::after {
  position: absolute;
  color: #333333;
  /* font-size: 0.75rem; */
  /* font-weight: 600; */
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast--info::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}

.Toastify__toast--success {
  border-radius: 0.5rem !important;
  background: #f0f9fa !important;
}

.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}

.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast--warning {
  border-radius: 0.5rem !important;
  background: #fadfc5 !important;
}

.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}

.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}

.Toastify__toast {
  font-family: "Quicksand", Helvetica, Arial !important;
  --toastify-color-progress-light: #353535;
}

.Toastify__toast-body {
  color: #444c63;
  font-size: 0.75rem;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 600;
  margin-left: 25px !important;
}

.Toastify__toast > button > svg {
  display: none;
}
